name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Install Dependencies
        run: npm install

      - name: Add Android Platform
        run: cordova platform add android

      - name: Build Android APK
        run: cordova build android

        - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: android-apk
          path: platforms/android/app/build/outputs/apk/debug/*.apk
